* {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#logo {
  z-index: 6;
  /* background-color: rgb(38, 91, 134); */
  background-color: #343d68;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  font-family: "Tilt Prism", cursive;
}

#logo1 {
  color: gainsboro;
  margin-top: 6px;
  animation-name: logo1-side;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 3;
}

#logo2 {
  color: coral;
  margin-top: 6px;
  align-content: end;
  animation-name: logo2-side;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 3;
}

header {
  z-index: 6;
  background-color: black;
  position: fixed;
  font-size: 17px;
  width: 99%;
  border-radius: 10px;
  height: 45px;
  margin-top: 50px;
  margin-left: 6px;
  box-shadow: 5px 10px 18px #888888;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#navbar {
  width: 40%;
  position: absolute;
  z-index: 3;
}

li {
  display: inline;
}

#navbar a {
  text-decoration: none;
  position: fixed;
}

#nav_h {
  text-decoration: none;
  color: coral;
  margin-left: -20px;
  transition: 0.3s;
  margin-top: 13px;
  background-color: black;
}

#nav_a {
  text-decoration: none;
  color: white;
  margin-left: 35px;
  margin-top: 13px;
  transition: 0.3s;
}

#nav_c {
  text-decoration: none;
  color: white;
  margin-left: 96px;
  margin-top: 13px;
  transition: 0.3s;
}

#nav_p {
  text-decoration: none;
  color: white;
  margin-left: 164px;
  margin-top: 13px;
  transition: 0.3s;
}

#cart-box {
  right: -10px;
  margin-right: 20px;
  margin-top: 5px;
  position: fixed;
  padding-left: 10px;
}

#superb {
  background-color: lightgrey;
  height: 500px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  z-index: -3;
}

/* #selfimg {
  justify-content: space-evenly;
  margin-top: -10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 10px;
} */

/* #photo {
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#photo img {
  margin-top: 5px;
} */

/* @keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
    filter: grayscale(100%);
  }
  100% {
    transform: translate(0, -0px);
  }
} */

#inbox {
  margin-top: 70px;
  margin-right: 50px;
  width: 40%;
  height: 280px;
  background-color: white;
  font-family: "Preahvihear", sans-serif;
  font-size: 13px;
  color: black;
  position: fixed;
  z-index: 0;
}

#sup {
  margin-top: -5px;
  padding: 10px;
  font-size: 30px;
  margin-bottom: -10px;
}
.role {
  margin-left: 10px;
  color: rgb(38, 91, 134);
}
#inbox p {
  padding-left: 10px;
  padding-right: 10px;
}

#learn {
  background-color: rgb(38, 91, 134);
  border: none;
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
  color: white;
  margin-top: 15px;
}

#skill {
  color: white;
  font-size: 90px;
  margin-top: -150px;
  transform: rotateZ(2deg);
  font-family: "Tilt Prism", cursive;
  margin-left: 20px;
  text-align: start;
}

#policy {
  background-color: #343d68;
  height: 250px;
  width: 120%;
  margin-left: -30px;
  margin-top: -19px;
  transform: rotateZ(2deg);
  position: relative;
  z-index: 1;
}

#ele {
  transform: rotateZ(-2deg);
  width: 80%;
  margin-left: 150px;
  top: 55px;
  position: absolute;
  z-index: 1;
}

span {
  margin-left: 25px;
}

/* #text {
  position: relative;
  z-index: 1;
  background-color: red;
} */

#headpro {
  color: black;
  font-size: 70px;
  font-family: "Tilt Prism", cursive;
  margin-left: 20px;
}
#projects {
  /* background-color: white; */
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(171, 171, 171) 90%
  );
  position: relative;
  z-index: 1;
  height: 650px;
  padding-top: 100px;
  margin-top: -50px;
}
#projects img {
  margin: 2px;
}
#pro1 {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  cursor: pointer;
  text-decoration: none;
}
#img1 {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 3px 3px 0 3px;
  background-color: black;
  opacity: 0.5;
}
#right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#sub {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: -20px;
  z-index: 3;
  position: relative;
  background-color: black;
  border-radius: 10px;
  overflow-y: hidden;
  padding: 5px 5px 10px 5px;
  width: 75%;
  height: 100px;
  box-shadow: 5px 10px 18px #888888;
  /* opacity: 0.5; */
}
#sub img {
  border-radius: 5px;
}
#pro1cover {
  margin: 0 auto;
  width: 95%;
  height: 305px;
  margin-top: -310px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  transform: scale(1);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#used {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
}
#used img {
  margin-top: -10px;
}
#used_desc {
  align-self: center;
  width: 50%;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.744);
  padding: 10px;
  border-radius: 5px;
  color: coral;
}
#used_desc h2 {
  color: white;
}
#pro1cover:hover {
  transform: scale(1.2);
  transition: 0.5s;
  margin-bottom: 10px;
}
#used_desc h2 {
  margin-bottom: 10px;
}

#contact {
  position: relative;
  z-index: 4;
  height: 300px;
  transition: 0.5s all;
  background-image: linear-gradient(to bottom, grey, white);
}

#topbar {
  background-color: #343d68;
  height: 150px;
  width: 100%;
}

#obj {
  background-color: #343d68;
  transform: skewX(50deg);
  height: 50px;
  width: 70%;
  margin-left: 55%;
}

#topbar h2 {
  color: white;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 50px 0 0 30px;
}

#getitouch {
  margin-top: 15px;
  margin-bottom: -5px;
  font-size: 40px;
  color: coral;
  transition: 0.5s all;
  font-family: "Tilt Prism", cursive;
  padding: 5px 25px;
  border-radius: 10px;
  background-color: white;
  text-align: start;
  cursor: pointer;
}

@keyframes drop {
  0% {
    height: 15%;
  }
  100% {
    height: 75%;
  }
}

#form {
  height: 30%;
  width: 36%;
  border: solid 2px black;
  border-radius: 10px 10px 25px 25px;
  background-color: white;
  margin-left: 60%;
  margin-top: -13%;
  position: relative;
  z-index: 5;
  transition: 0.5s all;
  overflow: hidden;
}

#form form {
  height: 100%;
  width: 90%;
  margin-left: 30px;
  transition: 0.5s all;
  overflow-y: hidden;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#form input {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  color: black;
  background-color: transparent;
  margin-bottom: 20px;
}
.emaildiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.emaildiv1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 10px;
}
.emaildiv input {
  margin-top: 10px;
}
#bottom {
  width: 85%;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#form textarea {
  margin-bottom: 20px;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}
#submit {
  border-radius: 30px;
  padding: 10px;
  width: 85%;
  margin-left: 0%;
  border-radius: 0 0 10px 10px;
  margin-top: 10px;
  background-color: coral;
  position: absolute;
}
#submit:hover {
  background-color: rgb(255, 96, 38);
}

#sfimg {
  margin-top: -50px;
  margin-left: 50px;
}

footer {
  position: relative;
  z-index: 6;
  height: 200px;
  width: 100%;
  background-color: #343d68;
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
}

.iconContainer {
  display: flex;
  justify-content: center;
}
.iconContainer a {
  color: white;
}
.icon {
  font-size: 55px;
  margin-left: 10px;
  margin-top: 30px;
}
#links {
  margin: 0 auto;
  width: 23%;
  margin-top: 40px;
}
#endlink {
  display: flex;
  position: relative;
  z-index: 4;
  flex-direction: row;
  width: 100%;
  margin-left: -40px;
  justify-content: space-evenly;
  color: white;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#endlink a {
  color: white;
  text-decoration: none;
}
#endlink a:hover {
  color: coral;
  transition: 0.5s;
}

/* laptop and tab screen */

@media (min-width: 500px) {
  #nav_h:hover {
    font-size: 22px;
    margin-top: 5px;
    width: 95%;
    background-image: linear-gradient(to right, white, black);
    padding: 5px;
    margin-left: -30px;
    border-radius: 7px;
  }

  #nav_a:hover {
    font-size: 22px;
    margin-top: 5px;
    width: 95%;
    background-image: linear-gradient(to right, white, black);
    color: cornflowerblue;
    padding: 5px;
    margin-left: -20px;
    border-radius: 7px;
  }

  #nav_c:hover {
    font-size: 22px;
    margin-top: 5px;
    width: 95%;
    background-image: linear-gradient(to right, white, black);
    color: darkmagenta;
    padding: 5px;
    margin-left: -20px;
    border-radius: 7px;
  }

  #nav_p:hover {
    font-size: 22px;
    margin-top: 5px;
    width: 95%;
    background-image: linear-gradient(to right, white, black);
    color: darkolivegreen;
    padding: 5px;
    margin-left: -20px;
    border-radius: 7px;
  }

  @keyframes logo1-side {
    0% {
      margin-left: -30px;
    }

    100% {
      margin-left: 42%;
    }
  }

  @keyframes logo2-side {
    0% {
      margin-left: 100%;
    }

    100% {
      margin-left: 5px;
    }
  }

  #policy {
    z-index: 4;
  }

  #ele {
    display: flex;
    margin-left: 0px;
    width: 100%;
    justify-content: space-evenly;
  }

  #links {
    margin: 0 auto;
    width: 35%;
    margin-top: 40px;
  }
}

/* mobile phone screen */

@media (max-width: 500px) {
  header {
    z-index: 6;
    background-color: black;
    position: fixed;
    font-size: 17px;
    width: 99%;
    border-radius: 10px;
    height: 45px;
    margin-top: 50px;
    margin-left: 2px;
    box-shadow: 5px 10px 18px #888888;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  #nav_h {
    text-decoration: none;
    color: coral;
    margin-left: -20px;
    margin-top: 13px;
  }

  #nav_h:hover {
    font-size: 25px;
    margin-top: 5px;
    margin-left: -30px;
  }

  #nav_a {
    text-decoration: none;
    color: white;
    margin-left: 35px;
    margin-top: 13px;
  }

  #nav_a:hover {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 20px;
  }

  #nav_c {
    text-decoration: none;
    color: white;
    margin-left: 96px;
    margin-top: 13px;
  }

  #nav_c:hover {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 70px;
  }

  #nav_p {
    text-decoration: none;
    color: white;
    margin-left: 162px;
    margin-top: 13px;
  }

  #nav_p:hover {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 150px;
  }

  @keyframes logo1-side {
    0% {
      margin-left: -30px;
    }

    100% {
      margin-left: 24%;
    }
  }

  @keyframes logo2-side {
    0% {
      margin-left: 100%;
    }

    100% {
      margin-left: 5px;
    }
  }

  #cart-box {
    right: -15px;
    height: 40px;
    width: 40px;
    font-size: 15px;
    border: none;
  }

  #logo {
    z-index: 6;
  }

  #superb {
    background-color: lightgrey;
    height: 500px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* #selfimg {
    height: 170px;
    position: absolute;
    overflow: hidden;
    background-color: red;
  } */

  /* #photo {
    height: 150px;
    margin-top: -10px;
  } */

  #inbox {
    width: 90%;
    height: 260px;
    background-color: darkgrey;
    font-family: "Preahvihear", sans-serif;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 120px;
    margin-left: 45px;
    color: black;
    position: fixed;
  }
  #sup {
    padding: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .role {
    margin-left: 10px;
  }
  #inbox p {
    padding-left: 10px;
    padding-right: 10px;
  }

  #button {
    margin-top: 5px;
  }

  #policy {
    height: 450px;
    z-index: 4;
    margin-top: -10px;
    overflow: hidden;
    transform: rotateZ(7deg);
  }

  #skill {
    color: white;
    font-size: 50px;
    text-align: end;
    margin-right: 5px;
    margin-top: -70px;
    transform: rotateZ(7deg);
    font-family: "Tilt Prism", cursive;
  }

  #policy {
    justify-content: space-evenly;
  }

  #ele {
    margin-left: 70px;
    margin-top: -40px;
    transform: rotateZ(-7deg);
  }

  #projects {
    height: 650px;
  }
  #headpro {
    color: black;
    font-size: 50px;
    margin-left: 10px;
    font-family: "Tilt Prism", cursive;
  }
  #pro1 {
    width: 97%;
  }
  #img1 {
    flex-direction: column;
  }
  #homeimg {
    height: 200px;
  }
  #right {
    flex-direction: row;
    width: 100%;
    height: 150px;
    overflow-y: hidden;
    display: none;
  }
  #sub {
    width: 96%;
    height: 300px;
    margin-top: -2px;
    border-radius: 0;
    flex-direction: column;
    padding: 2px;
  }
  #img1 {
    opacity: 1;
  }
  #pro1cover {
    margin-top: -200px;
    height: 500px;
    text-align: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.491);
  }
  #used {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  #used img {
    width: 100px;
  }
  #used_desc {
    font-size: 20px;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 20px;
  }
  #sub {
    margin-top: -300px;
    position: relative;
    z-index: 0;
  }

  #contact {
    position: relative;
    z-index: 4;
    height: 300px;
    transition: 0.5s all;
    background-image: linear-gradient(to bottom, grey, white);
  }

  #topbar {
    background-color: #343d68;
    height: 80px;
    width: 100%;
  }

  #obj {
    background-color: #343d68;
    transform: skewX(30deg);
    height: 75px;
    width: 100%;
    margin-left: 15%;
  }

  #topbar h2 {
    color: white;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin: 25px 0 0 15px;
  }

  #getitouch {
    margin: 20px 0 -5px -15px;
    font-size: 36px;
    color: coral;
    transition: 0.5s all;
    font-family: "Tilt Prism", cursive;
    text-align: start;
  }

  #form {
    height: 30%;
    width: 75%;
    border: solid 2px black;
    border-radius: 10px 10px 25px 25px;
    background-color: white;
    margin-left: 22%;
    margin-top: -21%;
    position: relative;
    z-index: 5;
    transition: 0.5s all;
    overflow: hidden;
  }

  #form form {
    height: 100%;
    width: 97%;
    margin-left: 5px;
    transition: 0.5s all;
    overflow: hidden;
  }

  #top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-top: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #topr input {
    width: 90%;
  }
  #form input {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    background-color: transparent;
    margin-bottom: 20px;
  }
  .emaildiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .emaildiv1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
  }
  .emaildiv input {
    margin-top: 10px;
  }
  #message {
    margin-top: 10px;
  }
  #bottom {
    width: 85%;
    padding-left: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #form textarea {
    margin-bottom: 20px;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
  }
  #submit {
    border-radius: 30px;
    padding: 10px;
    width: 90%;
    margin-left: 3%;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
    background-color: coral;
  }
  #submit:hover {
    background-color: rgb(255, 96, 38);
  }

  footer {
    height: 200px;
    width: 100%;
    background-color: #343d68;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
  }
  .iconContainer a {
    color: white;
  }
  .icon {
    font-size: 55px;
    margin-left: 10px;
    margin-top: 30px;
  }
  #links {
    margin: 0 auto;
    width: 90%;
    margin-top: 40px;
  }
  #endlink {
    display: flex;
    position: relative;
    z-index: 4;
    flex-direction: row;
    width: 100%;
    margin-left: -40px;
    justify-content: space-evenly;
    color: white;
    font-size: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #endlink a {
    color: white;
    text-decoration: none;
  }
  #endlink a:hover {
    color: coral;
    transition: 0.5s;
  }
}
